<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OgrenciNotKayitSistemi.Properties.Settings.Db_NotKayitConnectionString"
            connectionString="Data Source=LAPTOP-RGH49P0Q;Initial Catalog=Db.NotKayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>